<footer class="footer">
  <div class="footer__content container">
    <!-- logo + descrição -->
    <div class="footer__about">
      <img src="assets/img/logo.svg" alt="Logo da plataforma" class="footer__logo-img" />
      <p class="footer__logo-text">
        Plataforma segura e inclusiva que promove saúde, direitos e cidadania para a comunidade LGBT+ do Amazonas.
      </p>
    </div>

    <!-- links Rápidos -->
    <div class="footer_components">
      <div class="footer__element">
        <h3 class="footer__list-title">Links Rápidos</h3>
        <ul class="footer__links">
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>

      <!-- informativos -->
      <div class="footer__element">
        <h3 class="footer__list-title">Informativos</h3>
        <ul class="footer__links">
          <li><a href="#">Prevenção ao HIV</a></li>
          <li><a href="#">Terapia Hormonal</a></li>
          <li><a href="#">Saúde Mental</a></li>
          <li><a href="#">Retificação de Documentos</a></li>
          <li><a href="#">Locais de Apoio</a></li>
          <li><a href="#">Denúncias</a></li>
        </ul>
      </div>

      <!-- contato -->
      <div class="footer__element">
        <h3 class="footer__list-title">Contato</h3>
        <ul class="footer__links">
          <li><a href="mailto:contato@seuprojeto.com">contato@projetoruda.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright container">&copy; 2025 Projeto Rudá. Todos os direitos reservados.</div>
</footer>
