<footer class="footer">
            <div class="footer__container container">
                <div class="footer__content">
                    <!-- logo e descrição -->
                    <div class="footer__about">
                        <a href="#" class="footer__logo">
                            <img src="assets/img/logo.svg" alt="Projeto Rudá">
                        </a>                       
                    </div>
                    
                    <!-- links rápidos -->
                    <div class="footer__links">
                        <h3 class="footer__title">Links Rápidos</h3>
                        <ul class="footer__list">
                            <li><a href="sobre.html" class="footer__link">Sobre o projeto</a></li>
                            <li><a href="contato.html" class="footer__link">Contato</a></li>
                        </ul>
                    </div>
                    
                    <!-- informativos -->
                    <div class="footer__links">
                        <h3 class="footer__title">Informativos</h3>
                        <ul class="footer__list">
                            <li><a href="#" class="footer__link">Prevenção ao HIV</a></li>
                            <li><a href="#" class="footer__link">Terapia Hormonal</a></li>
                            <li><a href="#" class="footer__link">Saúde Mental</a></li>
                            <li><a href="#" class="footer__link">Retificação de Documentos</a></li>
                            <li><a href="#" class="footer__link">Locais de Apoio</a></li>
                        </ul>
                    </div>
                    
                    <!-- contato -->
                    <div class="footer__contact">
                        <h3 class="footer__title">Contato</h3>
                        <ul class="footer__list">
                            <li class="footer__contact-item">
                                <a href="mailto:contato@projetoruda.org">contato@projetoruda.org</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>