<header class="header">
  <nav class="nav container">
    <!-- nav data -->
    <div class="nav__data">
      <a href="index.html" class="nav__logo">
        <img src="assets/img/logo.svg" alt="logo" />
      </a>

      <div class="nav__actions">
        <div class="nav__toggle" id="nav-toggle">
          <i class="ri-menu-line nav__toggle-menu"></i>
          <i class="ri-close-line nav__toggle-close"></i>
        </div>

        <div class="nav__search">
          <i class="ri-search-line nav__search-icon"></i>
        </div>
      </div>
    </div>

    <!-- nav menu -->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li>
          <a href="sobre.html" class="nav__link">Sobre</a>
        </li>

        <li>
          <a href="contato.html" class="nav__link">Contato</a>
        </li>

        <!-- dropdown -->
        <li class="dropdown__item">
          <div class="nav__link dropdown__button">Informativos<i class="ri-arrow-down-s-line dropdown__arrow"></i></div>

          <div class="dropdown__container">
            <div class="dropdown__content">
              <!-- subdropdown - prevenção ao hiv & ists -->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Prevenção ao HIV e ISTs</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="informativo-prevencao.html" class="dropdown__link">Testes para ISTs</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">PrEP</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">PEP</a>
                  </li>
                </ul>
              </div>

              <!-- subdropdown - terapia hormonal -->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Terapia Hormonal</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="#" class="dropdown__link">Item 1</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 2</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 3</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 4</a>
                  </li>
                </ul>
              </div>

              <!-- subdropdown - saúde mental -->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Saúde Mental</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="#" class="dropdown__link">Item 1</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 2</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 3</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 4</a>
                  </li>
                </ul>
              </div>

              <!-- subdropdown - retificação de documentos -->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Retificação de Documentos</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="#" class="dropdown__link">Item 1</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 2</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 3</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 4</a>
                  </li>
                </ul>
              </div>

              <!-- subdropdown - locais de apoio -->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Locais de Apoio</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="#" class="dropdown__link">Item 1</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 2</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 3</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 4</a>
                  </li>
                </ul>
              </div>

              <!-- subdropdown - denúncia-->
              <div class="dropdown__group">
                <div class="dropdown__group-button">
                  <span class="dropdown__title">Denúncia</span>
                  <i class="ri-arrow-down-s-line dropdown__group-arrow"></i>
                </div>

                <ul class="dropdown__list">
                  <li>
                    <a href="#" class="dropdown__link">Item 1</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 2</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 3</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown__link">Item 4</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- search icon -->
        <li class="nav__search-desktop">
          <i class="ri-search-line nav__search-icon"></i>
        </li>
      </ul>
    </div>
  </nav>
  <!-- search input -->
  <div class="search_input">
    <i class="ri-search-line search_input-icon"></i>
    <input type="text" class="search_input__field" placeholder="Pesquisar..." />
  </div>
</header>
