@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* root */
:root {
  --header-height: 5.5rem;

  /* cores */
  --background-color: #f1ece6;
  --background-color-alt: #ece6e6;
  --first-color: #a0cae0;
  --second-color: #e8aad1;
  --hover-background-color: #f3d8e4;
  --form-color: #ece1e1;
  --card-color: #f1e6e6;
  --hover-color: #bd659d;
  --text-color: #373059;

  /* tipografia */

  --body-font: "Poppins", sans-serif;
  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --normal-font-size: 16px;
  --small-font-size: 14px;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
html,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding-top: calc(var(--header-height) + 2rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 3rem;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: env(safe-area-inset-top);
  background-color: var(--first-color);
  z-index: var(--z-fixed);
}

/* nav */
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.5rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__search-icon {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav__toggle-close {
  opacity: 0;
}

/* navegação para dispositivos móveis */
@media screen and (max-width: 991px) {
  .nav__menu {
    background-color: var(--background-color);
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: auto;
    padding-block: 0 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__search-desktop {
    display: none;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::webkit-scrollbar-thumb {
    background-color: var(--first-color);
  }
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
}

/* show menu */
.show-menu {
  opacity: 1;
  top: var(--header-height);
  pointer-events: initial;
}

/* show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* dropdown */
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--background-color);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding: 0 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.dropdown__link:hover {
  font-weight: var(--font-semi-bold);
}

/* subdropdown */

.dropdown__list {
  background-color: var(--background-color);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.dropdown__group-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown__group-button:hover {
  color: var(--hover-color);
}

.dropdown__group-arrow {
  font-size: 1rem;
  font-weight: initial;
  transition: transform 0.4s;
}

/* rotação do icone dropdown */
.dropdown__arrow,
.dropdown__group-arrow {
  transition: transform 0.4s;
}

.show-dropdown .dropdown__arrow,
.dropdown__group.show-subdropdown .dropdown__group-arrow {
  transform: rotate(180deg);
}

/* search */
.search_input {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  padding: 1rem 1.5rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: var(--z-fixed);
}

.search_input.show-search {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* campo de busca */
.search_input__field {
  width: 100%;
  padding: 0.8rem 1rem;
  padding-left: 2rem;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
}

.search_input__field:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

/* ícone dentro da caixa */
.search_input-icon {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  pointer-events: none;
}

/* main */
/* pagina - home */
.hero__section {
  display: flex;
  align-items: center;
  padding-top: 82px;
  gap: 1.7rem;
}

.hero__section-content {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.hero__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 1.2;
}

.hero__image-content {
  max-width: 100%;
  width: 1300px;
  height: auto;
}

.hero__button {
  width: 200px;
  background-color: var(--second-color);
  color: var(--background-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  font-family: var(--body-font);
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* cards */
.card__section {
  padding-top: 160px;
}

.card__section-title {
  text-align: center;
  font-size: 38px;
  color: var(--first-color);
}

.card__section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 3rem;
  align-items: stretch;
}

.card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  padding: 3rem;
  border-radius: 50px;
  height: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.card__content-img {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__content-img img {
  width: 60px;
  height: auto;
}

.card__content-title {
  text-align: center;
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  min-height: 1rem;
}

.card__content-description {
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.5;
  flex-grow: 1;
}
.card__content-link {
  font-size: 15px;
  margin-top: auto;
  text-align: center;
}

.card__content-link a {
  color: var(--body-font);
  font-weight: var(--font-medium);
}

.card__content-link:hover {
  color: var(--hover-color);
}

/* explore section */

.explore__section {
  padding-block: 160px;
}

.explore__section-content {
  display: flex;
  gap: 50px;
}

.explore__section-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.explore__section-title {
  font-size: var(--h2-font-size);
}

.explore__section-title span {
  background-color: var(--second-color);
}

.explore__section-card {
  display: flex;
  gap: 0.8rem;
}

.explore__card-line {
  width: 10px;
  height: 100%;
  background-color: var(--second-color);
  border-radius: 10px;
}

.explore__card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explore__card-button {
  background-color: var(--second-color);
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
  text-transform: uppercase;
  cursor: pointer;
  align-self: start;
}

.explore__section-card:nth-of-type(2) .explore__card-line {
  background-color: var(--first-color);
}

.explore__section-card:nth-of-type(2) .explore__card-content {
  align-items: flex-end;
}

.explore__section-card:nth-of-type(2) .explore__card-button {
  align-self: flex-end;
  background-color: var(--first-color);
}

.about__img {
  width: 100%;
  max-width: 370px; /* ou outro limite ideal para seu layout */
  height: auto;
  display: block;
  object-fit: contain; /* ou cover, se estiver dentro de uma div com altura definida */
}

/* pagina - sobre */
.about {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 10rem;
  gap: 1rem;
}

.about__title {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  padding-bottom: 0.75rem;
}

.about__description {
  line-height: 1.8;
}

.about__description span {
  background-color: #ffd0e6;
  font-weight: var(--font-medium);
}

/* pagina - contato */
.form__box {
  display: flex;
  flex-direction: column;
  padding-block: 6rem;
}

.form__text {
  padding-bottom: 3rem;
  width: 100%;
}

.form__text h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.title__form {
  font-weight: var(--font-bold);
}

.form__input {
  background-color: var(--background-color-alt);
  padding: 2rem;
  border-radius: 50px;
  border: 1px solid #f0dddd;
  display: flex;
  justify-content: center;
}

.form__input form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
}

.form__box input {
  height: 48px;
  border-radius: 10px;
  padding-left: 0.5rem;
  border: 1px solid #ddaec2;
  font-family: var(--body-font);
}

.form__box select {
  height: 48px;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  border: 1px solid #ddaec2;
  font-family: var(--body-font);
  color: #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__box input[name="email"],
.form__box textarea {
  width: 100%;
}

.form__box input[name="first-name"],
.form__box input[name="second-name"] {
  width: calc(50% - 8px);
}

.form__box input[name="subject"] {
  width: calc(68% - 7.5px);
}

.form__box select[name="pronomes"] {
  width: calc(32% - 7.5px);
}

.form__box textarea {
  height: 150px;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #ddaec2;
  resize: vertical;
  font-family: var(--body-font);
}

.form__input button {
  margin-left: 0rem;
  padding: 0.75rem 3rem;
  background-color: var(--first-color);
  color: var(--background-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  font-family: var(--body-font);
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.form__input button:hover {
  border-color: #77a2b9;
}

/* mensagem confirmação de envio */
.success__message {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #d8efd3;
  color: #55ad9b;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: var(--smaller-font-size);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  border: 1px solid #95d2b3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.success__message.show {
  opacity: 1;
  pointer-events: auto;
}

.success__message.hidden {
  opacity: 0;
  pointer-events: none;
}

/* footer */
.footer {
  padding-bottom: calc(2rem + env(safe-area-inset-bottom));
  background-color: var(--first-color);
  color: var(--text-color);
  padding: 4rem 0 2rem;
  margin-top: 2rem;
  font-family: var(--body-font);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}

.footer__about {
  flex: 1 1 250px;
  max-width: 350px;
}

.footer__logo-img {
  width: 120px;
  margin-bottom: 1.5rem;
}

.footer__logo-text {
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
}

.footer_components {
  flex: 2 1 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.footer__element {
}

.footer__list-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: var(--font-semi-bold);
  position: relative;
  padding-bottom: 0.5rem;
}

.footer__list-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--second-color);
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.footer__links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.9rem;
  transition: color 0.3s;
  font-weight: var(--font-medium);
}

.footer__links a:hover {
  color: var(--hover-color);
}

.footer__copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: var(--text-color);
}

/* informativo - prevenção ists */
/* pagina teste rapido */

.informativo__container {
  padding-block: 3rem;
}

.informativo__content {
  display: flex;
  flex-direction: column;
}

.informativo__title {
  padding: 20px;
  border-radius: 10px;
  background-color: #f1e6e6;
}

.informativo__title h1 {
  font-size: 32px;
  padding-inline: 1rem;
}

.informativo__elements {
  display: flex;
  padding-top: 3rem;
  gap: 3rem;
}

.informativo__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.informativo__element a {
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  background-color: var(--first-color);
  padding: 13px 10px;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.informativo__element a:hover {
  background-color: #badded;
  transform: scale(1.02);
}

.informativo__info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.informativo__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 2000px;
}

.informativos__options {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.informativos__options a {
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: color 0.3s;
}

.informativos__options a:hover {
  color: var(--hover-color);
}

/* locais de testes de ist */

.locais__container {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.locais__container-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1e6e6;
}

.ri-arrow-left-line {
  font-size: 2rem;
  color: #4e5176;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcd3e2;
  width: 50px;
  height: 50px;
  border-radius: 60px;
}

.locais__title {
  font-size: 32px;
}

.locais__subtitle {
  margin-left: 0.2rem;
  font-size: 18px;
  font-weight: var(--font-medium);
  color: #4e5176;
}

.locais__select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1e6e6;
}

.locais__select label {
  font-size: 20px;
  font-weight: var(--font-bold);
}

.locais__select select {
  height: 48px;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  border: 1px solid #ddaec2;
  font-family: var(--body-font);
  color: #4e5176;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
  border-color: var(--second-color);
  box-shadow: 0 0 0 1px rgb(224, 182, 202);
}

.locais__cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.locais__card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--card-color);
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
}

.locais__card-content {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.locais__card-title {
  font-size: 20px;
  font-weight: var(--font-bold);
}

.locais__card-description {
  line-height: 1.6;
  padding-bottom: 0.7rem;
}

.locais__card-description h4 {
  font-weight: var(--font-semi-bold);
  padding-bottom: 0.5rem;
}

.locais__card-description a {
  color: #3688b3;
  font-weight: var(--font-medium);
  font-size: 15px;
}
/* breakpoints */
/* para dispositivos pequenos */
@media screen and (max-width: 733px) {
  /* dropdown */
  .dropdown__group {
    padding-left: 1.5rem;
  }

  /* pagina - home */
  .hero__section {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .hero__section-content {
    align-items: center;
    gap: 1.7rem;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__image-content {
    display: none;
  }

  .card__section-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-inline: 1rem;
    justify-items: center;
  }

  .card {
    padding: 2rem;
  }

  .card__content-description {
    font-size: 14px;
  }

  .card__content-link {
    font-size: 14px;
  }

  .explore__section {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .explore__section-title {
    font-size: 30px;
  }

  .explore__section-img {
    display: none;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* footer */

  .footer__about {
    flex: 1 1 auto;
    max-width: 350px;
  }

  .footer__logo-img {
    margin: 0 auto 1rem;
  }

  .footer__logo-text {
    text-align: center;
    padding-inline: 1rem;
  }

  .footer_components {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer__element {
    padding-inline: 1rem;
  }

  .footer__list-title::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__links a {
    color: #4e5176;
  }

  .footer__copyright {
    padding-inline: 1rem;
    font-size: 0.8rem;
  }

  /* pagina - sobre */
  .about {
    padding-block: 60px;
    padding-bottom: 160px;
  }

  .about__title {
    font-size: 30px;
    padding-bottom: 1rem;
  }

  .about__description {
    line-height: 1.6;
  }

  .about__img {
    display: none;
  }

  /* pagina - contato */

  .form__box {
    padding-block: 2rem;
  }

  .form__text {
    padding-inline: 1rem;
  }

  .form__text h2 {
    font-size: 30px;
  }

  .form__input {
    padding: 1.5rem 1rem;
    border-radius: 30px;
  }

  .form__input form {
    flex-direction: column;
    gap: 1.2rem;
  }

  .form__box input,
  .form__box select,
  .form__box textarea {
    width: 100% !important;
  }

  .form__input button {
    max-width: 160px;
    width: 100%;
    text-align: center;
    padding: 0.85rem 2rem;
    font-size: 0.9rem;
  }

  .success__message {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: 1rem;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (min-width: 734px) and (max-width: 991px) {
  /* pagina - home */
  .hero__section {
    align-items: center;
    text-align: center;
    padding-top: 60px;
    gap: 0rem;
  }

  .hero__section-content {
    align-items: center;
    row-gap: 2rem;
    padding-inline: 2rem;
  }

  .hero__title {
    font-size: 38px;
    line-height: 1.3;
  }

  .hero__image-content {
    display: none;
  }

  .hero__button {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 210px;
    padding: 12px 30px;
  }

  .card__section {
    padding-top: 100px;
  }

  .card__section-title {
    font-size: 32px;
    padding-inline: 1rem;
  }

  .card__section-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
    padding-inline: 1rem;
  }

  .card {
    max-width: 350px;
    padding: 2rem;
    border-radius: 40px;
  }

  .card__content-title {
    font-size: 18px;
  }

  .card__content-description,
  .card__content-link {
    font-size: 14px;
  }

  .card__content-img img {
    width: 50px;
  }

  .explore__section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .explore__section-title {
    font-size: 30px;
    text-align: center;
  }

  .explore__section-img {
    display: none;
  }

  /* footer */
  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-inline: 2rem;
  }

  .footer__about {
    flex: 1 1 150px;
    max-width: 350px;
    text-align: center;
  }

  .footer__logo-img {
    margin: 0 auto 1.5rem;
  }

  .footer__logo-text {
    text-align: center;
  }

  .footer_components {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  .footer__element {
    padding-inline: 1rem;
  }

  .footer__list-title::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__copyright {
    font-size: 0.8rem;
    padding-inline: 1rem;
  }

  /* pagina - sobre */
  .about {
    padding-block: 60px;
    padding-bottom: 160px;
  }
  .about__img {
    display: none;
  }
}

/* para dispositivos grandes */
@media screen and (min-width: 992px) {
  .container {
    margin-inline: 3rem;
  }
  /* nav */
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__actions {
    display: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    height: 100%;
  }

  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: transparent;
    color: var(--body-font);
  }

  .nav__search-icon {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
  }

  /* dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 7rem;
    background-color: var(--background-color);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__list {
    height: auto !important;
  }

  .dropdown__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  .dropdown__group {
    padding: 2rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin-top: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__link:hover {
    color: var(--hover-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__group-arrow {
    display: none;
  }

  .dropdown__item.show-dropdown > .dropdown__container {
    opacity: 1;
    top: 7rem;
    pointer-events: initial;
  }

  .search_input {
    top: calc(var(--header-height) + 1.5rem);
    padding-inline: 20%;
  }

  .search_input-icon {
    position: absolute;
    left: 20.6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--text-color);
    pointer-events: none;
  }

  /* cards */
  .card {
    padding: 2rem;
    border-radius: 30px;
  }

  .card__section-cards {
    gap: 1.5rem;
  }

  /* footer */

  .footer_components {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-inline: auto;
  }
}
